{% extends "layout.html" %}
{% load static %}

{% block title %}
  Se connecter
{% endblock %}


{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'users/css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>Connexion</h1>
  <form action="/users/login/" method="post" class="auth-form">
      {% csrf_token %}
      <div class="form-group">
          <label for="username">Nom d'utilisateur:</label>
          <input type="text" name="username" id="username" required>
      </div>
      <div class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password" name="password" id="password" required>
      </div>
      <button type="submit" class="submit-btn">Se connecter</button>
  </form>
  <p class="form-nav-link">Pas encore inscrit? <a href="{% url 'users:register' %}">S'inscrire</a></p>
</div>

{% endblock %}