<!DOCTYPE html>
{% load static %}
{% load pwa %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          Selist
        {% endblock %}
    </title>

    {% progressive_web_app_meta %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block extra_headers %}
    {% endblock %}
</head>
<body>
<nav>
    <div>
        <a href="/">Accueil</a> |
        <a href="/about">A propos</a> |
        <a href="/chat">Chat</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            {{ user.username }} |
            <a href="{% url 'users:logout' %}">Se déconnecter</a>
        {% else %}
            <a href="{% url 'users:login' %}">Se connecter</a> |
            <a href="{% url 'users:register' %}">Créer un compte</a>
        {% endif %}
    </div>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>