{% extends "layout.html" %}

{% block title %}Hors ligne - SEList{% endblock %}

{% block content %}
<div class="centered-content">
    <h1>La connexion au serveur n'a pas pu être établie.</h1>
    <p>Il est possible que vous ayez perdu votre connexion internet. Veuillez vérifier votre réseau puis réessayer.</p>
    <p>Si votre connexion internet fonctionne, il se peut que le problème vienne du serveur.</p>
    <button onclick="window.location.reload();" class="btn btn-primary" style="margin-top: 20px;">
        Réessayer
    </button>
</div>
{% endblock %}